html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#squareTop {
	position: relative;
	width: 1;
	height: 70px;
	background: #0F60CA;

}

#squareTopText{
	color : white;
	font-size:64.4px;
	font-weight: bold;
}

#searchBar {
	position: relative;
	top : -40px;
	float : right;


}

#squareBot {
	position: fixed;
	width: 100%;
	height: 70px;
	bottom: 0;
	background: #0F60CA;

}