<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"

    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.freehoon.survey.board.boardMapper">
<insert id="inserSurvey"
		parameterType="com.freehoon.survey.board.model.BoardVO">

		INSERT INTO survey(`year`, `month`, unitClass, unit, star, workTime, speciality)
VALUES(year, month, unitClass, unit, star, workTime, speciality)

	</insert>
</mapper>